<!DOCTYPE html>
<html lang="en">
<head>
  <title>Umbrellabird</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= image_tag "icon.png" %>
      </a>
	  <a class="navbar-brand" href="#">
	    Umbrellabird
	  </a>
    </div>
    <ul class="nav navbar-nav">
       <li class="active"><a href="/users">Follow users</a></li>
   	</ul>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/unfollowers">Unfollow users</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <li><img src="<%= current_account_image %>" class="account-avatar" /></li>
       <li><a href="/logout">Log out</a></li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
